# Default ignored files
/shelf/
/workspace.xml
.idea/modules.xml
.idea/wordle.iml
Worlde/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
Worlde/build/kotlin/compileKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i.len


